.jobs{
   background-color: rgb(250, 244, 244);
    .jobs__content{
        margin-left: 0;
        margin-right: 0;
        width: 80%;
        margin: 0 auto;
        .jobs__option{
            padding-left:0;
            padding-right: 0;
            &:first-child{
                border-right: 1px solid rgba(0,0,0,0.2);
            };
            .jobs__items{
                text-align: center;
                padding-top: 12px;
                padding-bottom: 20px;
               
                h3{
                    font-size:16px;
                    color:#000;
                    font-weight: 600;
                }
                p{
                    width: 70%;
                    margin: 14px auto 14px;
                    font-size: 14px;
                }
                .jobs__button{
                    width: 40%;
                    margin: 0 auto;
                }
                
            }
        }
    }

    @include responsive("large"){
        .jobs__option:first-child{
            border-right: none!important;
        }
    }
}